lib/*
media/*
pepup_chat/collected_static/*
components/*
node_modules/*
typings/*
reports/*
prod.py
migrations/

*.pyc
*.swp
db.sqlite3

.idea
npm-debug.log
*.sql

\#*\#
.\#*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/pepup_chat/pepup_chat/settings/prod.py
/pepup_chat/pepup_chat/settings/secret.py
/pepup_chat/pepup_chat/settings/secret.json